aiofiles==23.2.1
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
dataclass-factory==2.16
ffmpeg-python==0.2.0
ffmpeg_downloader==0.5.1
frozenlist==1.8.0
future==1.0.0
idna==3.16
imageio-ffmpeg==0.6.0
instaloader==4.15.1
multidict==6.7.1
numpy==2.4.6
packaging==26.2
platformdirs==4.9.6
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
pyTelegramBotAPI==4.33.0
requests==2.34.2
shazamio==0.8.1
shazamio_core==1.1.2
tabulate==0.10.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
yarl==1.24.2
yt-dlp==2026.3.17
